<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>

   <div>

        <my-calculator result-text="added"></my-calculator>
        <my-calculator result-text="second add"></my-calculator>
        
       <!-- {{title}}<br/>
       
        <input type="text" ng-model='title'>
       <button ng-click ="fun()"> Click </button>
   
       <table border="1">
       <thead>
 
        <tr>
        <th>Name</th>
        <th>Department</th>
        <th>DOB</th>
        <th></th>
        </tr>
        </thead>

        <tbody>
           <tr ng-repeat="st in students">
                <td>{{st.name}}</td>
                <td>{{st.department}}</td>
                <td>{{st.dob}}</td>
                <td>
                    
                    <button ng-click="onStudentSelect(st)">view</button>
                    
                </td>
            </tr>

        </tbody>
      </table>

      <div id="student-details" ng-show="selectedStudent">
      <p>Selected student is : {{selectedStudent.name}}</p>
      </div>

     </div>-->

     <!--<div ng-controller = "MyCtrl">
       
         
        <button ng-click="goBack()">prev</button>
       <img height="200" width="200" ng-src="{{imgList[activeImageIndex]}}" alt="">
        <button ng-click="goNext()">next</button>
     
    
    </div>-->


    <!--<div id="calculator">


    <input type="text" ng-model='input1' ng-change="onInputChange()" >input1</input><br/>
    <input type="text" ng-model='input2' ng-change="onInputChange()" >input2</input><br/>

    <button ng-click="func(add)">+</button>
    <button ng-click="func(sub)">-</button>
    <button ng-click="func(add)">*</button>
    
    <button ng-click="func(add)">/</button>


<div id="result" ng-class="{'calculation-result':isCalculated}">
    Result is {{result}}
</div>



    <button ng-click="add()">+</button>
    <button ng-click="sub()">-</button>
    <button ng-click="mul()">*</button>
    <button ng-click="div()">/</button>

    </div>-->

  
   
</div>
    <script src="angular.js"></script>
    <script src="app.js"></script>
    
</body>
</html>

