<form 
        ng-submit="$ctrl.onSubmit(myform)" 
        name="myform" 
        novalidate>
    <div class="formgroup">
        <label for="usernameinput">Username</label>
        <input 
            type="text" 
            ng-model="$ctrl.username"
            name-custom-check=""
            minlength="3"
            required
            name="usernameinput">
        <p ng-show="myform.usernameinput.$error.required">
            This field is required
        </p>
        <p ng-show="myform.usernameinput.$error.minlength">
                This requires minimum 3 characters
        </p>


        <p ng-show="myform.usernameinput.$error.nameCustomCheck">
            cannot start with a
    </p>

    </div>
    <div class="formgroup">
            <label for="passwordinput">Password</label>
        <input 
            type="text" 
            ng-model="$ctrl.password"
            name="passwordinput">
    </div>
    <div class="formactions">
        <button ng-disabled="myform.$invalid" type="submit">Login</button>
    </div>    
</form>